In [43]:
import pandas as pd

df3 = pd.read_csv('mixedKal.csv')

df3

    no  latMyGps  longMyGps   latKal    longKal  dist
0    1  -6.97645  107.63114 -6.97646  107.63115     2
1    2  -6.97645  107.63133 -6.97646  107.63131     3
2    3  -6.97654  107.63139 -6.97652  107.63135     3
3    4  -6.97657  107.63116 -6.97652  107.63116     5
4    5  -6.97666  107.63116 -6.97663  107.63114     3
5    6  -6.97667  107.63101 -6.97663  107.63114     6
6    7  -6.97655  107.63087 -6.97654  107.63082     6
7    8  -6.97655  107.63064 -6.97659  107.63068     6
8    9  -6.97678  107.63065 -6.97672  107.63069     7
9   10  -6.97677  107.63094 -6.97675  107.63090     5
10  11  -6.97648  107.63093 -6.97648  107.63097     3
11  12  -6.97649  107.63062 -6.97646  107.63071    12
12  13  -6.97618  107.63061 -6.97624  107.63063     6
13  14  -6.97618  107.63084 -6.97623  107.63080     7
14  15  -6.97618  107.63109 -6.97619  107.63099    11
15  16  -6.97624  107.63107 -6.97629  107.63101     8
16  17  -6.97636  107.63102 -6.97638  107.63106     4

In [44]:
df1 = pd.read_csv('mixedGps.csv')
df1

    no  latMyGps   longMyGps   latGps    longGps  dist
0    1  -6.97645   107.63114 -6.97647  107.63119     7
1    2  -6.97645   107.63133 -6.97646  107.63126     8
2    3  -6.97654   107.63139 -6.97654  107.63133     7
3    4  -6.97657   107.63116 -6.97656  107.63110     7
4    5  -6.97666   107.63116 -6.97664  107.63119     4
5    6  -6.97667   107.63101 -6.97668  107.63097     4
6    7  -6.97655   107.63087 -6.97657  107.63081     6
7    8  -6.97655   107.63064 -6.97663  107.63068    10
8    9  -6.97678   107.63065 -6.97677  107.63071     7
9   10  -6.97677   107.63094 -6.97681  107.63094     5
10  11  -6.97648   107.63093 -6.97651  107.63090     4
11  12  -6.97649   107.63062 -6.97645  107.63069     9
12  13  -6.97618   107.63061 -6.97625  107.63067     9
13  14  -6.97618   107.63084 -6.97622  107.63089     6
14  15  -6.97618   107.63109 -6.97618  107.63104     5
15  16  -6.97624   107.63107 -6.97627  107.63100     8
16  17  -6.97636   107.63102 -6.97634  107.63102     3

In [53]:
df2 = pd.read_csv('mixedBad.csv')
df2

    no  latMyGps   longMyGps   latNoKal   longNoKal  dist
0    1  -6.97645   107.63114   -6.97643   107.63123     9
1    2  -6.97645   107.63133   -6.97650   107.63141    10
2    3  -6.97654   107.63139   -6.97653   107.63122    18
3    4  -6.97657   107.63116   -6.97659   107.63111     7
4    5  -6.97666   107.63116   -6.97665   107.63122     7
5    6  -6.97667   107.63101   -6.97669   107.63106     7
6    7  -6.97655   107.63087   -6.97665   107.63091    11
7    8  -6.97655   107.63064   -6.97662   107.63060     9
8    9  -6.97678   107.63065   -6.97682   107.63060     6
9   10  -6.97677   107.63094   -6.97672   107.63087     9
10  11  -6.97648   107.63093   -6.97643   107.63096     5
11  12  -6.97649   107.63062   -6.97651   107.63069    16
12  13  -6.97618   107.63061   -6.97617   107.63071     9
13  14  -6.97618   107.63084   -6.97620   107.63095    13
14  15  -6.97618   107.63109   -6.97620   107.63095    14
15  16  -6.97624   107.63107   -6.97626   107.63103     5
16  17  -6.97636   107.63102   -6.97636   107.63106     3

In [49]:
mean3 = df3['dist'].mean()
print('Mean Distance error on Filter: ', str(mean3))

Mean Distance error on Filter:  5.705882352941177

In [50]:
mean2 = df2['dist'].mean()
print('Mean Distance error on no Filter: ', str(mean2))

Mean Distance error on no Filter:  9.294117647058824

In [51]:
mean1 = df1['dist'].mean()
print('Mean Distance error on Gps: ', str(mean1))

Mean Distance error on Gps:  6.411764705882353

In [73]:
dfRekap = pd.read_csv('mixedRekap.csv')
dfRekap.drop([0, 2,4,6,8,10,12,14,16])

,no,latMyGps,longMyGps,latGps,longGps,distGps,latNoKal,longNoKal,distNoKal,latKal,longKal,distKal
1,2,-6.97645,107.63133,-6.97646,107.63126,8,-6.97650,107.63141,10,-6.97646,107.63131,3
3,4,-6.97657,107.63116,-6.97656,107.63110,7,-6.97659,107.63111,7,-6.97652,107.63116,5
5,6,-6.97667,107.63101,-6.97668,107.63097,4,-6.97669,107.63106,7,-6.97663,107.63114,6
7,8,-6.97655,107.63064,-6.97663,107.63068,10,-6.97662,107.63060,9,-6.97659,107.63068,6
9,10,-6.97677,107.63094,-6.97681,107.63094,5,-6.97672,107.63087,9,-6.97675,107.63090,5
11,12,-6.97649,107.63062,-6.97645,107.63069,9,-6.97651,107.63069,16,-6.97646,107.63071,12
13,14,-6.97618,107.63084,-6.97622,107.63089,6,-6.97620,107.63095,13,-6.97623,107.63080,7
15,16,-6.97624,107.63107,-6.97627,107.63100,8,-6.97626,107.63103,5,-6.97629,107.63101,8

In [68]:
gps = dfRekap['distGps'].mean()
noKal = dfRekap['distNoKal'].mean()
kal = dfRekap['distKal'].mean()
print('Mean distance error on gps: ', str(gps), ', while mean distance error without filter: ', str(noKal),
      ', and distance error with filter: ', str(kal))

Mean distance error on gps:  6.411764705882353 , while mean distance error without filter:  9.294117647058824 , and distance error with filter:  5.705882352941177

In [92]:
nAcuanLat1 = dfRekap['latMyGps']
nTerukurLat1 = dfRekap['latGps']

# nAcuan = 697645
# nTerukur = 697646
errorRateLat1 = (((nAcuanLat1-nTerukurLat1)/nAcuanLat1)*100)
print('Error rate LatGps')
print(errorRateLat1)
nAcuanLong1 = dfRekap['longMyGps']
nTerukurLong1 = dfRekap['longGps']

# nAcuan = 697645
# nTerukur = 697646
errorRateLong1 = (((nAcuanLong1-nTerukurLong1)/nAcuanLong1)*100)
print('Error rate longGps')
print(errorRateLong1)

Error rate LatGps
0    -0.000287
1    -0.000143
2    -0.000000
3     0.000143
4     0.000287
5    -0.000143
6    -0.000287
7    -0.001147
8     0.000143
9    -0.000573
10   -0.000430
11    0.000573
12   -0.001003
13   -0.000573
14   -0.000000
15   -0.000430
16    0.000287
dtype: float64
Error rate longGps
0    -0.000046
1     0.000065
2     0.000056
3     0.000056
4    -0.000028
5     0.000037
6     0.000056
7    -0.000037
8    -0.000056
9     0.000000
10    0.000028
11   -0.000065
12   -0.000056
13   -0.000046
14    0.000046
15    0.000065
16    0.000000
dtype: float64

In [89]:
nAcuanLat2 = dfRekap['latMyGps']
nTerukurLat2 = dfRekap['latNoKal']

# nAcuan = 697645
# nTerukur = 697646
errorRateLat2 = (((nAcuanLat2-nTerukurLat2)/nAcuanLat2)*100)
print('Error rate latNoKal')
print(errorRateLat2)
nAcuanLong2 = dfRekap['longMyGps']
nTerukurLong2 = dfRekap['longNoKal']

# nAcuan = 697645
# nTerukur = 697646
errorRateLong2 = (((nAcuanLong2-nTerukurLong2)/nAcuanLong2)*100)
print('Error rate longNoKal')
print(errorRateLong2)

Error rate latNoKal
0     0.000287
1    -0.000717
2     0.000143
3    -0.000287
4     0.000143
5    -0.000287
6    -0.001433
7    -0.001003
8    -0.000573
9     0.000717
10    0.000717
11   -0.000287
12    0.000143
13   -0.000287
14   -0.000287
15   -0.000287
16   -0.000000
dtype: float64
Error rate longNoKal
0    -0.000084
1    -0.000074
2     0.000158
3     0.000046
4    -0.000056
5    -0.000046
6    -0.000037
7     0.000037
8     0.000046
9     0.000065
10   -0.000028
11   -0.000065
12   -0.000093
13   -0.000102
14    0.000130
15    0.000037
16   -0.000037
dtype: float64

In [90]:
nAcuanLat3 = dfRekap['latMyGps']
nTerukurLat3 = dfRekap['latKal']

# nAcuan = 697645
# nTerukur = 697646
errorRateLat3 = (((nAcuanLat3-nTerukurLat3)/nAcuanLat3)*100)
print('Error rate latKal')
print(errorRateLat3)
nAcuanLong3 = dfRekap['longMyGps']
nTerukurLong3 = dfRekap['longKal']

# nAcuan = 697645
# nTerukur = 697646
errorRateLong3 = (((nAcuanLong3-nTerukurLong3)/nAcuanLong3)*100)
print('Error rate longKal')
print(errorRateLong3)

Error rate latKal
0    -0.000143
1    -0.000143
2     0.000287
3     0.000717
4     0.000430
5     0.000573
6     0.000143
7    -0.000573
8     0.000860
9     0.000287
10   -0.000000
11    0.000430
12   -0.000860
13   -0.000717
14   -0.000143
15   -0.000717
16   -0.000287
dtype: float64
Error rate longKal
0    -0.000009
1     0.000019
2     0.000037
3     0.000000
4     0.000019
5    -0.000121
6     0.000046
7    -0.000037
8    -0.000037
9     0.000037
10   -0.000037
11   -0.000084
12   -0.000019
13    0.000037
14    0.000093
15    0.000056
16   -0.000037
dtype: float64

In [103]:
hasil = pd.read_csv('drrData.csv')
ini1 = hasil['errorLatGps'].mean()
ini2 = hasil['errorLongGps'].mean()
ini3 = hasil['errorLatNoKal'].mean()
ini4 = hasil['errorLongtNoKal'].mean()
ini5 = hasil['errorLatKal'].mean()
ini6 = hasil['errorLongKal'].mean()
print('Error distance gps:',ini1,' and ',ini2)
print('Error distance no filter:',ini3,' and ',ini4)
print('Error distance with filter:',ini5,' and ',ini6)

Error distance gps: 0.00030266666666666663  and  4.133333333333334e-05
Error distance no filter: 0.00041400000000000003  and  7.433333333333334e-05
Error distance with filter: 0.00035033333333333336  and  3.7111111111111113e-05